%font-header {
        font-weight: 500;
        text-transform: uppercase;
        color: #475567;
}

.header__external-container {  
    width: 100%;
    height: 96px;
    background: #FFFFFF;
    backdrop-filter: blur(24px);
    border-bottom: 1px solid hsla(213, 10%, 82%, 0.301);
    position: fixed;
    z-index: 18; 
    top: 0;
    left: 0;

    @media (width < 991px) {
        height: 72px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 24px 23.93px;
    height: 100%;
    padding-inline: 0;
    position: relative;
    border-left: 2px solid hsla(302, 100%, 85%, 0.5);
    border-right: 2px solid hsla(302, 100%, 85%, 0.5);

    @media (width < 1250px) {
        border: 0;
    }
    
    &::after {
        content: "";
        inline-size: 1290px;
        height: 2px;
        background-color: hsla(302, 100%, 85%, 0.5);
        position: absolute;
        bottom: 42px;
        left: -40px;

        @media (width < 1350px) {
            display: none;
        }
    }

    &__options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        inline-size: 379px;
        height: 22px;

        >h3 {
            @extend %font-header;        
        }

        @media (width < 991px) {
            display: none;
        }

    }

    &__country-wrapper {
        display: flex;
        width: 125px;
        align-items: center;
        gap: 40px;

        >img {
            cursor: pointer;

            @media (width > 991px) {
                display: none;
            }
        }
    }

    &__country {
        display: flex;
        justify-content: space-between;
        align-items: center;
        inline-size: 48px;
        height: 24px;
    }

    &__open {
        display: none;

        @media (width < 991px) {
            display: block;
        }
    }

    &__close {
        display: none;

        @media (width < 991px) {
            display: block;
        }
    }

    &__register{
        display: flex;
        align-items: center;
        justify-content: space-between;
        inline-size: 193px;
        height: 24px; 

        >h3{
            @extend %font-header;           
        }

        @media (width < 991px) {
            display: none;
        }
    }
}


.menu-mobile {
    width: 100%;
    height: 100dvh;
    padding-top: 47px;
    position: fixed;
    top: 72px;
    background-color: #FFFFFF;
    z-index: 99; 
    opacity: 0;  
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;

    >h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.01em;
        color: #475567;
        cursor: pointer;

        &:not(:first-child) {
            margin-top: 24px;
        }
    }

    &__divider {
        width: 258px;
        height: 0px;
        border: 1.5px solid rgba(218, 222, 227, 0.6);
        margin-top: 53px;
        margin-inline: auto;
    }

    &__icon{
        margin-inline: auto;
        margin-top: 59px;
    }

    &--show {
        opacity: 1;
        pointer-events: all;
    }
}
